/* 
// Rinke Hoekstra
// Wiped everything from original columns.css
*/


/* Extra styling from http://twitter.github.com/bootstrap/examples/fluid.html */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
