/* Put your styles here */


h1,h2,h3,h4,h5,h6 {
    font-family: "Graublau Web";
}

h3,h4,h5,h6 {
    font-weight: normal;
}

/* Move logo left and content up */
.logo {
	margin-left: -150px;
}

.content {
	margin-top: -145px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}


/* Typefaces
-----------------------------------------------*/
@font-face {
	font-family: "Graublau Web Regular";
	src: url("type/GraublauWeb.eot");
	src: local("Graublau Web Regular"), local("GraublauWeb-Regular"),
		url("type/GraublauWeb.woff") format("woff"),
		url("type/GraublauWeb.otf") format("opentype"),
		url("type/GraublauWeb.svg#GraublauWeb-Regular") format("svg");
	}
@font-face {
	font-family: "Graublau Web Bold";
	src: url("type/GraublauWebBold.eot");
	src: local("Graublau Web Bold"), local("GraublauWeb-Bold"),
		url("type/GraublauWebBold.woff") format("woff"),
		url("type/GraublauWebBold.otf") format("opentype"),
		url("type/GraublauWebBold.svg#GraublauWeb-Bold") format("svg");
	}