---
title: Data2Semantics
subtitle: From Data to Semantics for Scientific Data Publishers
description: Test description
date: 2012-03-26
title_ending: "| Landing Page"
tags:
    - columns
learning_order: 2
---

{% extends "landing.j2" %}

{% block main %}
## About Data2Semantics

Data2Semantics studies and develops essential semantic infrastructure for bringing [e-Science](http://en.wikipedia.org/wiki/E-Science) to the next level.
	
A core task for scientific publishers is to speed up [scientific progress](http://en.wikipedia.org/wiki/Scientific_progress) by improving the availability of [scientific knowledge](http://en.wikipedia.org/wiki/Science). This holds both for dissemination of results through traditional publications, as well as through the publication of [scientific data](http://en.wikipedia.org/wiki/Data). The Data2Semantics project focuses on a key problem for data management in e-Science:

<div class="alert alert-info"><em>How to <strong>share</strong>, <strong>publish</strong>, <strong>access</strong>, <strong>analyse</strong>, <strong>interpret </strong>and<strong> reuse</strong> data?</em></div>

Data2Semantics is a collaboration between the [VU University Amsterdam](http://www.vu.nl/), the [University of Amsterdam](http://www.uva.nl), [Data Archiving and Networked Services (DANS)](http://www.dans.knaw.nl/) of the [KNAW](http://en.wikipedia.org/wiki/Royal_Netherlands_Academy_of_Arts_and_Sciences), [Elsevier Publishing](http://www.elsevier.com) and [Philips](http://www.philips.com), and is funded under the [COMMIT](http://www.commit-nl.nl) programme of the [NL Agency of the Dutch Ministry of Economic Affairs, Agriculture and Innovation](http://www.agentschapnl.nl/en).

<a class="btn btn-large btn-primary" href="/about.html"><i class="icon-share-alt icon-white"></i> More Information</a>

{% endblock main %}


{% block sidebar %}
<h3>Sidebar content</h3>
<p>No markdown applied here so you can do as you please.</p>

<strong>Now for some <a href="http://hipsteripsum.me/">hipster ipsum</a></strong>:
<p>Locavore vice etsy, sustainable salvia gentrify yr cardigan keffiyeh. Bicycle rights fanny pack sartorial, lomo raw denim synth wayfarers sustainable 8-bit squid cred helvetica DIY aesthetic. Farm-to-table gluten-free PBR synth stumptown, next level lo-fi wes anderson banksy food truck salvia. Keytar single-origin coffee echo park you probably haven't heard of them, 8-bit Austin twee 3 wolf moon shoreditch yr food truck. Master cleanse cosby sweater sustainable next level. Next level single-origin coffee farm-to-table seitan mcsweeney's. Beard four loko cardigan photo booth.</p>


{% endblock sidebar %}