{# Landing template #}



{% extends "columns.j2" %}



{% block main %}

{% for res in resource.node.walk_resources_sorted_by_blog() %}
<div class="row">
    <div class="span1">
        <div class="sidehead">
            <h2>{{ res.meta.date.strftime('%d %b') }}</h2>
        </div>
    </div>
    <div class="span9">
        <div class="page-header">
        	<h1><a href="{{ '/' + res.relative_path }}">{{ res.meta.title }}</a> <small>{{ res.meta.summary }}</small><small class="postmeta"> by {{ res.meta.author }} on <strong>{{ res.meta.date.strftime('%d %B %Y') }}</strong></small>
        </div>
        {% filter markdown|typogrify -%}
{% include res.meta.text %}
        {%- endfilter %}
</div>
</div>
{% endfor %}

{% endblock main %}

{% block sidebar %}

{% for res in resource.node.walk_resources_sorted_by_blog() %}

<div class="well">
	<h4><a href="{{ '/'+ res.relative_path }}">{{ res.meta.title }}</a> <small>{{ res.meta.summary }}</small><br/><small class="postmeta"><strong>{{ res.meta.date.strftime('%d %B %Y') }}</strong></small></h4>
</div>

{% endfor %}

{% endblock sidebar %}