{# Blog template #}

{% extends "columns.j2" %}

{% block header %}
	<div class="jumbotron subhead" id="overview">
	  <h1>
	    {% block page_title %}{{ resource.meta.title }}{% endblock %}
	    {% if resource.meta.subtitle %}<p class="lead">{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</p>{% endif %}
	  </h1>
	</div>
{% endblock header %}


{% block main %}

{% for res in resource.node.walk_resources_sorted_by_blog() %}

<div class="page-header">
	<h1><a href="{{ res.meta.file }}">{{ res.meta.title }}</a> <small>{{ res.meta.summary }}</small><small class="postmeta"> by {{ res.meta.author }} on <strong>{{ res.meta.date.strftime('%d %B %Y') }}</strong></small>
</div>

{% include res.meta.text %}

{% endfor %}

{% endblock main %}

{% block sidebar %}

{{ super() }}

{% endblock sidebar %}