{# Columns template #}

{% extends "topbar.j2" %}


{% block header %}
		<div class="header">
		  {# <h1> #}
		    {% block page_title %}<img src="{{ media_url( 'img/title.png' ) }}" alt="{{ resource.meta.title }}">{% endblock %}
		  {# </h1> #}
		  {# {% if resource.meta.subtitle %}<p>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</p>{% endif %} #}
		</div>
{% endblock header %}

{% block content %}



<div class="row">
  <div class="span10">
      {% block main %}{% endblock %}
  </div>
  <div class="span2">
      {% block sidebar %}{% endblock %}
  </div>
</div>

{% endblock content %}



